<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!--<property name="connection.url">jdbc:mysql://localhost:3306/sr03_web_project</property>-->
    <property name="connection.url">jdbc:mysql://localhost:3306/sr03_web_project?serverTimezone=UTC</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="connection.username">root</property>
    <property name="connection.password">root</property>
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>
    <mapping class="model.entity.Address"/>
    <mapping class="model.entity.Category"/>
    <mapping class="model.entity.Console"/>
    <mapping class="model.entity.Game"/>
    <mapping class="model.entity.Orders"/>
    <mapping class="model.entity.PhysicalGame"/>
    <mapping class="model.entity.ShoppingBag"/>
    <mapping class="model.entity.ShoppingBagRow"/>
    <mapping class="model.entity.Users"/>
    <mapping class="model.entity.Roles"/>
    <mapping class="model.entity.Publisher"/>
  </session-factory>
</hibernate-configuration>