<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

  <!--==================================================-->
  <display-name>SR03 Game Shop</display-name>
  <!--==================================================-->









  <!--==================================================-->
  <!-- REST Servlet Services -->
  <servlet>
    <servlet-name>Jersey REST Service</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>

    <!-- Localisation of rest servelts classes -->
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>webservices.rest</param-value>
    </init-param>

    <!-- For the automatic JSON conversion of object with Jackson -->
    <init-param>
      <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
      <param-value>true</param-value>
    </init-param>

    <!-- For security annotations in the restful ressources -->
    <!-- Not wirking correctly right now -->
    <init-param>
      <param-name>jersey.config.server.provider.classnames</param-name>
      <param-value>org.glassfish.jersey.server.filter.RolesAllowedDynamicFeature</param-value>
    </init-param>

    <!--==================================================-->
    <!-- Probably not useful -->
    <!--<init-param>-->
      <!--<param-name>com.sun.jersey.spi.container.ResourceFilters</param-name>-->
      <!--<param-value>com.sun.jersey.api.container.filter.RolesAllowedResourceFilterFactory</param-value>-->
    <!--</init-param>-->

    <!--<init-param>-->
      <!--<param-name>javax.ws.rs.Application</param-name>-->
      <!--<param-value>webservices.rest.RestApplication</param-value>-->
    <!--</init-param>-->
    <!--==================================================-->
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>games</servlet-name>
    <servlet-class>controller.GameServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>index</servlet-name>
    <servlet-class>controller.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>shopping-bag</servlet-name>
    <servlet-class>controller.ShoppingBagServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>test</servlet-name>
    <servlet-class>controller.TestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>signout</servlet-name>
    <servlet-class>controller.SignOutServlet</servlet-class>
  </servlet>








  <servlet-mapping>
    <servlet-name>Jersey REST Service</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>games</servlet-name>
    <url-pattern>/games</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>shopping-bag</servlet-name>
    <url-pattern>/shopping-bag</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>signout</servlet-name>
    <url-pattern>/signout</url-pattern>
  </servlet-mapping>

  <!--==================================================-->




  <!--==================================================-->

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Shopping bag</web-resource-name>
      <url-pattern>/shopping-bag/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>customer</role-name>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>




  <!--==================================================-->
  <!-- Login method for authentication -->
  <!---->
  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>sr03-game-shop-database-security</realm-name>
    <form-login-config>
      <form-login-page>/login.html</form-login-page>
      <form-error-page>/error.html</form-error-page>
    </form-login-config>
  </login-config>
  <!--==================================================-->




  <!--==================================================-->
  <!-- All security roles for authorisations -->
  <security-role>
    <role-name>customer</role-name>
  </security-role>
  <security-role>
    <role-name>admin</role-name>
  </security-role>
  <!--<security-role>-->
    <!--<role-name>guest</role-name>-->
  <!--</security-role>-->
  <!--==================================================-->





</web-app>
